{% extends "user/layouts/main.html" %}

{% block title %}
    K-GenZ | Beranda
{% endblock title %}


{% include "user/layouts/navbar.html" %}

{% block content1 %}
<div class="mx-auto">
  <div class="d-flex justify-content-center mt-5">
      <div class="container">
          <div class="row g-5">
              <div class="col-md-8 text">
                  <div class="">
                      <h1><span style="font-size: 50px; font-family: 'Times New Roman', Times, serif;">Hai, </span><span style="" id="typewriter-text"> </span></h1>
                      <p>K Gen-Z hadir guna jaga kesehatan mentalmu Seperti Mengecek Tingkat kesetresan kamu, berinteraksi dengan chatbot untuk membantu kamu dalam menyelesaikan masalah kesehatan mental kamu</p>
                      <a href="{{ url_for('layanan')}}"><div class="btn btn-success">Mulai Sekarang</div>
                      </div></a>
              </div>
              <div class="col-md-4">
                  <div class="image">
                      <img src="{{ url_for('static', filename='img/vector-1.png')}}" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
    const textArray = [
      "{{ username }}"
    ];
    let textIndex = 0;
    let charIndex = 0;
    const speed = 250; // Kecepatan mengetik (dalam milidetik)

    function typeWriter() {
      if (charIndex < textArray[textIndex].length) {
        document.getElementById('typewriter-text').innerHTML += textArray[textIndex].charAt(charIndex);
        charIndex++;
        setTimeout(typeWriter, speed);
      } else {
        setTimeout(eraseText, 2000); // Tambahkan delay sebelum menghapus
      }
    }

    function eraseText() {
      if (charIndex > 0) {
        const text = textArray[textIndex].substring(0, charIndex - 1);
        document.getElementById('typewriter-text').innerHTML = text;
        charIndex--;
        setTimeout(eraseText, speed / 2);
      } else {
        textIndex = (textIndex + 1) % textArray.length;
        setTimeout(typeWriter, 1000); // Tambahkan delay sebelum mengetik ulang
      }
    }

    typeWriter(); // Mulai efek mengetik
  </script>
{% endblock %}



{% block content8 %}
<div class="layanan-unggulan">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-8">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/vector-2.png')}}" alt="">
                    <h2>Teknik Relaksasi</h2>
                </div>
            </div>
            <div class="col-md-4 text">
                <div class="">
                    <h1>Layanan Unggulan</h1>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
